<!-- <p>dashboard works!</p> -->
<!-- <app-chart></app-chart> -->
<!-- <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart> -->
<nav class="navbar navbar-light bg-light justify-content-between mb-3">
    <a class="navbar-brand ps-3">Dashboard</a>
    <a class="btn btn-block" (click)="logout()">Sign Out</a>

 
  </nav>
  <h3 style="margin-left: 9%;">Overview</h3>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-flush card-xxl-stretch" style="min-height: 365px;">
            
            <div style="text-align:center" style="min-height: 365px;">
                <apx-chart
                [series]="optionsDonut.series"
                [chart]="optionsDonut.chart"
                [labels]="optionsDonut.labels"
              ></apx-chart>
            </div>
        </div>
      </div>
      <div class="col">
        <!-- <div class="card-header">
            <h4>User List</h4>

        </div> -->
        <div class="card card-flush card-xxl-stretch" style="min-height: 365px;">
            
            <div style="text-align:center" style="min-height: 365px;">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
            </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
        <h4>User List</h4>
        <div class="card card-flush card-xxl-stretch" style="min-height: 265px;">
            
            <div style="text-align:center" style="min-height: 265px;">
                <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of tableUsers">
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.username }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </div>
